.wa_ranking__box {
        
    width: 90%;
    height: 50%;
    overflow: scroll;

    .wa_ranking__table {
        border-spacing: 0 1.8rem;
        width: 100%;
    }
}


// others 
#othersImgTR{
    text-align: center;
    #othersImg {
        width: 50%;
    }
}