.wa_ranking__container{
    width: 100vw;
    height: 82.5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .wa_ranking__box {
        
        width: 90%;
        height: 50%;
        overflow: scroll;
    }
}


// others 
#othersImgTR{
    text-align: center;
    #othersImg {
        width: 50%;
    }
}